<h1>Enter new recipe information:</h1>
<form action="/recipes" method="post">
  <p>Recipe Name: <input name="name" type="text" id="name"></p>
  <p>Recipe Ingredients: <input name="ingredients" type="text" id="ingredients"></p>
  <p>Recipe Cook Time: <input name="cook_time" type="text" id="cook_time"></p>
  <input type="submit" id="submit">
</form>
