<form action="/recipes" method="post">
  Name: <input id="name" type="text" name="recipe[name]"/></br></br>
  Ingredients: <input id="ingredients" type="text" name="recipe[ingredients]"/></br></br>
  Cook Time: <input id="recipe_cook_time" type="integer" name="recipe[cook_time]"/></br></br>
  <input id="submit" type="submit" value="submit"/>
</form>
