<form method="post" action="/recipes">

  Name: <input id="name" type="text" name="recipe[][name]">
  Ingredients: <input id="ingredients" type="text" name="recipe[][ingredients]">
  Cook Time: <input id="cook_time" type="text" name="recipe[][cook_time]">
  <input id="submit" type="submit" value="Submit">

</form>
