<form action="/recipes/new" method="post">
  <input type="text" placeholder="recipe" name="name">
  <input type="text" placeholder="ingredients" name="ingredients" >
  <input type="text" placeholder="cook time" name="cook_time">
  <input type="submit" value="submit">
</form>
