<p>Recipe: <%= @recipe.name %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time.to_i %> minutes</p>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button value="delete">Delete</button>
</form>
